!!!
%html
%head
	%title Wiki
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true 
	= csrf_meta_tags

%body

	- if user_signed_in?
		= link_to "Signout", destroy_user_session_path,:method=>:delete	
	- else
		= link_to "Signin", new_user_session_path
		= link_to "SignUp", new_user_registration_path
	.notice
		= notice 
	.alert
		= alert
		= yield
		= link_to "All Articles", root_path
		- Category.all.each do |category|
			= link_to category.name, articles_path(:category=>category.name)
